PREFIX=.
SESSION_ID=
BOT_NAME=𝐆𝐈𝐅𝐓𝐄𝐃-𝐌𝐃
BOT_PIC=https://files.giftedtech.my.id/file/gifted-md.jpg
AUTO_READ_STATUS=true
AUTOLIKE_STATUS=true
AUTOLIKE_EMOJI=🍓
AUTO_REPLY_STATUS=false
STATUS_REPLY_MSG=🐼|𝐒𝐓𝐀𝐓𝐔𝐒 𝐕𝐈𝐄𝐖𝐄𝐃 𝐁𝐘 𝐏𝐀𝐓𝐇𝐔𝐌 𝐊𝐀𝐋𝐇𝐀𝐑𝐀乡!
ANTICALL=false
ANTICALL_MSG=*_📞 Auto Call Reject Mode Activated by Gifted-Md. 📵 No Calls Allowed Dude!_*
MODE=public
WELCOME=false
GOODBYE=false
AUTO_READ_MESSAGES=false
PRESENCE=online
OWNER_NAME=𝐆𝐈𝐅𝐓𝐄𝐃 𝐓𝐄𝐂𝐇
OWNER_NUMBER=
SUDO_NUMBERS=
AUTO_AUDIO=true
AUTO_BLOCK=212,98,77
AUTO_REACT=false
TIME_ZONE=Africa/Nairobi
